<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado libre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>



<body>
    <header>
        <div class="top">
            <img  width="300px" src="/images/logo-mercado-liebre.svg" alt="mercado liebre">
            <h1 class="Titulares"><input class="searchBar" type="text" placeholder="Buscar productos y marcas"> <i class="fa-solid fa-magnifying-glass"></i></h1>
    </div>
            <h1 id="texto"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h1>
                
                <div id="centrado">
                <a href>Ofertas</a>
                <a href>tiendas oficiales</a>
                <a href> vender</a>
                <a href>ayuda</a>
                
                 
               
                    <a href='/register'> crea tu cuenta <i class="far fa-id-card"></i></a>
                    <a href='/login'> ingresa <i class="fas fa-sign-in-alt"></i></a>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </div>
  

            <div class="burgerMenu">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
            </div>
    </header>
    
    <section class="banner">
        <img  src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>


    <main>
    <section>
        <article>
            <div id="caja">
                
                    <h1 class="titulares">basado en tu ultima vista</h1>
                    </div>
                
                <div class="foto">
                    <img width="300px" src="/images/img-cafetera-moulinex.jpg">
                </div>
                <div class="articulos">
                    
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="juntos">
                    <h3>6.770$</h3>
                    <h4>40% OFF</h4>
                </div>
      
                <h2>Cafetera Moulinex</h2>
                </div>
        </div>  
    </article>


    <article>
            <div>
                <div class="foto">
                    <img width="300px" src="/images/img-macbook-pro-2019.jpg">
                </div>
                <div class="articulos">
               
                         <div>
                                <i class="fas fa-truck"></i>
                         </div>
                         <div class="juntos">
                    <h3>230.000$</h3>
                    <h4>20% OFF</h4>
                        </div>
           
                <h2>MacBook Pro 2019</h2>
            </div>
            </div>
    </article>


    <article>
            <div>
                <div class="foto">
                    <img width="300px" src="/images/img-samsung-galaxy-s10.jpg">
                </div>
                <div class="articulos">
                
                            <div>
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="juntos">
                    <h3>$70.500</h3>
                    <h4>10% off</h4>
                            </div>
          
                <h2>Samsung Galaxy S10</h2>
                </div>
            </div>
    </article>


    <article>
            <div>
                <div class="foto">
                    <img width="300px" src="/images/img-tv-samsung-smart.jpg">
                </div>
                <div class="articulos">
                
                            <div>
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="juntos">
                     <h3>$23.200</h3>
                    ><h4>5% off</h4>
                            </div>
            
            <h2>SmartTv Samsung 43"</h2>
                </div>    
        </div>
    </article>
</section>

<section>
            <div>
             
                  <h1 class="titulares">Ofertas</h1>
                  
             
    <article>
            <div class="foto">
                <img width="300px" src="/images/img-cafetera-moulinex.jpg">
            </div>
            <div class="articulos">
            
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="juntos">
                <h3>6.770$</h3>
                 <h4>40% OFF</h4>
                        </div>
            
            <h2>Cafetera Moulinex</h2>
            </div>
        </div>
    </article>


<article>
        <div>
            <div class="foto">
                <img width="300px" src="/images/img-macbook-pro-2019.jpg">
            </div>
            <div class="articulos">
           
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="juntos">
                 <h3>230.000$</h3>
                <h4>20% OFF</h4>
                        </div>
        
        <h2>MacBook Pro 2019</h2>
            </div>   
    </div>
</article>


<article>
        <div>
            <div class="foto">
                <img width="300px" src="/images/img-samsung-galaxy-s10.jpg">
            </div>
            <div class="articulos">
           
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="juntos">
                 <h3>$70.500</h3>
                <h4>10% off</h4>
                        </div>
        
            <h2>Samsung Galaxy S10</h2>
            </div>
        </div>
</article>


<article>
        <div>
            <div class="foto">
                <img width="300px" src="/images/img-tv-samsung-smart.jpg">
            </div>
            <div class="articulos">
            
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="juntos">
                <h3>$23.200</h3>
                <h4>5% off</h4>
                        </div>
        
            <h2>SmartTv Samsung 43"</h2>
            </div>
        </div>
</article>
</section>

</main>
</body>

<footer>
    <h2 id="Descripciones1">Pagá con tarjeta o en efectivo</h2>
        <p class="Descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés 
        con tarjeta o efectivo en puntos de pago. 
        ¡Y siempre es seguro!</p>
    <h2 id="Descripciones1">Envío gratis desde $ 2.500</h2>
        <p class="Descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    <h2 id="Descripciones1">Seguridad, de principio a fin</h2>
        <p class="Descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    <h2 class="Descripciones">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
</footer>
    
</html>