<!DOCTYPE html>
<html lang="Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="top">
                <img  width="300px" src="/images/logo-mercado-liebre.svg" alt="mercado liebre">
                <h1 class="Titulares"><input class="searchBar" type="text" placeholder="Buscar productos y marcas"> <i class="fa-solid fa-magnifying-glass"></i></h1>
        </div>
                <h1 id="texto"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h1>
                    
                    <div id="centrado">
                    <a href>Ofertas</a> 
                    <a href>tiendas oficiales
                    <a href> vender
                    <a href>ayuda   
                    
                     
                   
                        <a href='/register'> crea tu cuenta <i class="far fa-id-card"></i></a>
                        <a href='/login'> ingresa <i class="fas fa-sign-in-alt"></i></a>
                        <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                    </div>
    </header>  

    <main id="login">

        <form action="/views/home.html" method="">
        
            <div class="separar">
            <label for="nombre"></label>
            <input class="estilos" type="text" name="nombre" name="nombreUsuario"
            placeholder="Nombre de Usuario" id="nombre de usuario">
        </div>
        
            <div class="separar">
            <label for="password"></label>
            <input class="estilos" type="password" placeholder="contraseña"  name="password">
            </div>
        
            <div class="separar">
            <button class="estilosBoton" type="submit"><a href="/">Enviar</a></button>
            </div>
        
            <div class="separar">
            <button class="estilosBoton" type="reset">borrar</button>
            </div>    
        </form>

    </main>
</form>
</body>
<footer>
    <h2 id="Descripciones1">Pagá con tarjeta o en efectivo</h2>
        <p class="Descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés 
        con tarjeta o efectivo en puntos de pago. 
        ¡Y siempre es seguro!</p>
    <h2 id="Descripciones1">Envío gratis desde $ 2.500</h2>
        <p class="Descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    <h2 id="Descripciones1">Seguridad, de principio a fin</h2>
        <p class="Descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    <h2 class="Descripciones">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
</footer>
    
</html>